apiVersion: v1
kind: Service
metadata:
  name: mcp-kubernetes
  namespace: imsilva
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: mcp-kubernetes